.paragraph--our-categories-title {
  color:  #3F3F46;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.32px;
  margin: 0 {
    bottom: 32px;
  };
}

.container--our-categories-title {
  @media screen and (max-width: 768px) {
    display: none;
  }
}