.menuContainer {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--Gray-Scale-White, #fff);

  z-index: 2;
}

.stickyMenu .menuList {
  gap: 16px;
}

.logo {
  opacity: 0;
  max-width: 0;
  transition: opacity 0.1s ease-in-out;
}

.stickyMenu .logo {
  opacity: 1;
  max-width: 100%;
  margin-right: 16px;
  height: 28px;
}

.stickyMenu .menuItem {
  padding-top: 16px;
}

.stickyMenu .menuItem {
  padding-bottom: 16px;
}

.stickyMenu .menuWrapper {
  align-items: center;
}

.stickyMenu :global(.vtex-login-2-x-profile)::after {
  display: none;
}

.menuButton {
  background: transparent;
  background-image: url('data:image/svg+xml,<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.625 10.5001H18.375" stroke="%23101820" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/><path d="M2.625 5.25H18.375" stroke="%23101820" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/><path d="M2.625 15.75H18.375" stroke="%23101820" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/></svg>');
  width: 21px;
  height: 21px;
  border: none;
}

.menuOverlay {
  width: 100%;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  z-index: 5;
}
.menuWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
}

.userInteractions {
  opacity: 0;
  max-width: 0;
  transition: opacity 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.userInteractions.sticky {
  opacity: 1;
  max-width: 100%;
  align-items: center;
}

.userInteractions :global(.vtex-store-components-3-x-searchBarContainer) {
  max-width: 152px;
  margin: 0 24px;
}

.userInteractions :global(.vtex-store-link-0-x-label--wishlist) {
  font-size: 0 !important;
  width: 48px;
}

.userInteractions :global(.vtex-login-2-x-profile) {
  font-size: 0;
  width: 48px;
}

.userInteractions :global(.vtex-login-2-x-profile)::before {
  content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99967 19.1667C15.0623 19.1667 19.1663 15.0627 19.1663 10C19.1663 4.93743 15.0623 0.833374 9.99967 0.833374C4.93706 0.833374 0.833008 4.93743 0.833008 10C0.833008 15.0627 4.93706 19.1667 9.99967 19.1667Z" stroke="%23FF5A00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.0759 14.0742C13.9575 13.7762 13.7737 13.5085 13.5381 13.2909V13.2909C13.1412 12.922 12.6194 12.7168 12.0775 12.7165H7.92709C7.38489 12.7168 6.86285 12.922 6.46551 13.2909V13.2909C6.23048 13.509 6.0468 13.7765 5.92773 14.0742" stroke="%23FF5A00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0016 10.5094C11.2673 10.5094 12.2933 9.48334 12.2933 8.21769C12.2933 6.95204 11.2673 5.92603 10.0016 5.92603C8.73598 5.92603 7.70996 6.95204 7.70996 8.21769C7.70996 9.48334 8.73598 10.5094 10.0016 10.5094Z" stroke="%23FF5A00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 20px;
  height: 20px;
  display: block;
}

.closeButton {
  background: transparent;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.4"><path d="M15 5L5 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 5L15 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
  border: none;
  width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 99999999999;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding-bottom: 8px;
  cursor: pointer;
}

.menuItem button:not(.hideCategory) {
  text-decoration: none;
  color: var(--Gray-Scale-Black, #000);
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.categoryWrapper {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  background: #fff;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.1);
  width: fit-content;
  min-width: 678px;
  margin-top: 8px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.categoryWrapper.active {
  max-height: 1000px;
  opacity: 1;
  height: fit-content;
}

.departmentTitleWrapper {
  width: 100%;
  display: flex;
  padding: var(--spacing-4, 16px) var(--spacing-8, 32px);
  align-items: center;
  gap: var(--spacing-4, 16px);
  align-self: stretch;

  background: var(--bg-accent-zinc-subtlest, #f4f4f5);
  justify-content: space-between;
}

.departmentTitle {
  color: var(--text-neutral-bold, #18181b);
  font-family: 'Proxima Nova';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin: 0;
}

.viewAllLink {
  display: flex;
  padding: var(--spacing-25, 10px) var(--spacing-4, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--radius-rounded-sm, 2px);
  background: var(--bg-brand-secondary-bold-base, #2b2b3a);
  color: var(--text-inverse-bold, #fff);
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-decoration: none;
}

.subMenuCategoryContent {
  display: flex;
  padding: var(--spacing-10, 40px) var(--spacing-8, 32px);
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
}

.subMenuCategoryList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 230px;
  width: 100%;
}

.subMenuCategoryItem:last-child .subMenuCategoryLink {
  color: rgba(255, 90, 0, 1);
}

.subMenuCategoryLink {
  text-decoration: none;
  color: var(--text-link-secondary-default-base, #3f3f46);
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  transition: color 0.2s ease-in-out;
}

.hideCategory {
  display: none;
}

.subMenuCategoryLink:hover {
  color: rgba(255, 90, 0, 1);
}

.departmentImage {
  max-width: 360px;
  max-height: 246px;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-rounded-lg, 8px);
}

.departmentImage img {
  border-radius: var(--radius-rounded-lg, 8px);
}

@media screen and (max-width: 1025px) {
  .menuContainer {
    width: fit-content;
  }
  .menuWrapper {
    transform: translate(-100%, 0);
    position: fixed;
    height: 100vh;
    max-width: 312px;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    padding: 24px;
    z-index: 9999;
    padding-top: 60px;
    justify-items: start;
  }

  .menuWrapper.open {
    transform: translate(0, 0);
  }

  .menuList {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    margin-bottom: 16px;
    border-bottom: 1px solid rgba(156, 160, 174, 0.4);
  }

  .menuItem {
    width: 100%;
    padding: 8px 0;
  }

  .departmentImageMobile {
    border-radius: var(--radius-rounded, 4px);
    background: var(--bg-brand-secondary-bold-base, #2b2b3a);
    max-width: 264px;
    width: 100%;
    height: 54px;
    margin: 12px auto 0 auto;
    display: flex;
  }

  .viewAllLink {
    display: none;
  }

  .listTitleMobile {
    color: #000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
    width: 100%;
    padding: 12px 0;
    display: block;
    margin-top: 16px;
    border-top: 1px solid rgba(156, 160, 174, 0.4);
  }

  .menuItem button:not(.hideCategory) {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }
  .menuItem button span {
    width: 100%;
    text-align: left;
  }

  .menuItem button:not(.hideCategory):after {
    content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12L10 8L6 4" stroke="%235A5A66" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 16px;
    height: 16px;
    display: block;
  }

  .menuItem button img {
    width: 54px;
    height: 40px;
    border-radius: var(--radius-rounded, 4px);
  }

  .departmentTitleWrapper {
    background-color: transparent;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    margin-top: 72px;
    padding-left: 24px;
  }

  .brandSwitcherMobile {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="74" height="14" viewBox="0 0 74 14" fill="none"><g clip-path="url(%23clip0_2702_6833)"><path d="M0.5 13.5V0.5H3.25223V6.80243C3.25223 8.90277 4.78171 10.5683 6.88162 10.5683C8.98153 10.5683 10.4902 8.79938 10.4902 6.86475C10.4902 4.93011 8.83996 3.20367 6.8608 3.20367H4.20989V0.5H13.2424V13.5H0.5ZM12.2431 1.5183H5.08705V2.32841H6.82055C9.38958 2.32841 11.2841 4.51231 11.2841 6.86475C11.2841 9.21718 9.51032 11.4195 6.7803 11.4195C4.05028 11.4195 2.37784 9.08972 2.37784 6.90582V1.5183H1.50068V12.4803H12.2445V1.5183H12.2431ZM28.5719 6.8435C28.4289 6.90582 28.4692 7.05311 28.5719 7.11401C29.4699 7.61396 29.8155 8.29943 29.8155 9.29791V11.3373C29.8155 12.9802 28.7149 13.5 27.6947 13.5H15.8517V0.5H18.8884V10.0046C18.8884 10.2142 18.9911 10.3162 19.1952 10.3162H26.3499C26.5539 10.3162 26.676 10.1718 26.676 10.0046V8.82062C26.676 8.65492 26.5345 8.4878 26.3499 8.4878H20.5609V5.28276H26.3499C26.5747 5.28276 26.676 5.13689 26.676 4.94994V3.93164C26.676 3.74327 26.5136 3.59881 26.3499 3.59881H20.5609V0.5H27.6947C29.4074 0.5 29.8155 1.58062 29.8155 2.66407V4.63978C29.8155 6.4087 28.7149 6.7826 28.5719 6.84492V6.8435ZM42.0458 13.5H33.3616C32.1999 13.5 31.2422 12.5228 31.2422 11.3373V2.66407C31.2422 1.4574 32.1999 0.5 33.3616 0.5H42.0458C43.2088 0.5 44.1665 1.45599 44.1665 2.66407V11.3388C44.1665 12.5228 43.2088 13.5014 42.0458 13.5014V13.5ZM41.1283 3.93305C41.1283 3.74469 40.9868 3.60023 40.8022 3.60023H34.5843C34.4206 3.60023 34.279 3.74469 34.279 3.93305V10.006C34.279 10.1732 34.422 10.3176 34.5843 10.3176H40.8022C40.9854 10.3176 41.1283 10.1732 41.1283 10.006V3.93305ZM55.7458 4.36785V3.93164C55.7458 3.76593 55.6029 3.59881 55.4197 3.59881H48.9367C48.7327 3.59881 48.6314 3.72203 48.6314 3.93164V5.07457C48.6314 5.24169 48.7535 5.38615 48.9367 5.38615H56.6424C58.1094 5.38615 58.7618 6.38463 58.7618 7.57005V11.3359C58.7618 12.8117 57.8457 13.4986 56.6424 13.4986H47.714C46.4093 13.4986 45.5933 12.646 45.5933 11.3359V9.50468H48.6314V10.0032C48.6314 10.1703 48.7535 10.3148 48.9367 10.3148H55.4197C55.6626 10.3148 55.7458 10.1916 55.7458 10.0032V8.9226C55.7458 8.75689 55.5821 8.6096 55.4197 8.6096H47.714C46.7341 8.6096 45.5933 7.75842 45.5933 6.44694V2.66407C45.5933 1.53955 46.4093 0.5 47.714 0.5H56.6424C58.0484 0.5 58.7618 1.37243 58.7618 2.66407V4.36927H55.7444L55.7458 4.36785ZM70.4646 4.36785V3.93164C70.4646 3.76593 70.3217 3.59881 70.1579 3.59881H63.6764C63.4515 3.59881 63.3488 3.72203 63.3488 3.93164V5.07457C63.3488 5.24169 63.4918 5.38615 63.6764 5.38615H71.3807C72.8477 5.38615 73.5 6.38463 73.5 7.57005V11.3359C73.5 12.8117 72.5618 13.4986 71.3807 13.4986H62.4314C61.1254 13.4986 60.3121 12.646 60.3121 11.3359V9.50468H63.3488V10.0032C63.3488 10.1703 63.4918 10.3148 63.6764 10.3148H70.1579C70.4022 10.3148 70.4646 10.1916 70.4646 10.0032V8.9226C70.4646 8.75689 70.3217 8.6096 70.1579 8.6096H62.4328C61.4543 8.6096 60.3134 7.75842 60.3134 6.44694V2.66407C60.3134 1.53955 61.1268 0.5 62.4328 0.5H71.382C72.7686 0.5 73.5014 1.37243 73.5014 2.66407V4.36927H70.466L70.4646 4.36785Z" fill="%2371717A"/></g><defs><clipPath id="clip0_2702_6833"><rect width="73" height="13" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>');
    border-radius: 4px;
    border: 1px solid var(--text-inverse-subtle, #d4d4d8);
    width: 100%;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4f5;
  }

  .logo {
    height: 0;
  }
  .categoryWrapper {
    transform: translate(-100%, 0);
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    max-width: 312px;
    min-width: unset;
    width: 100%;
  }

  .categoryWrapper.active {
    transform: translate(0, 0);
    height: 100%;
  }

  .departmentTitle {
    color: var(--icon-brand-secondary-base, #2b2b3a);

    /* text-sm/semibold */
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    padding-right: 24px;
  }

  .hideCategory {
    display: block;
    border: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 4L6 8L10 12" stroke="%235A5A66" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }

  .subMenuCategoryContent {
    padding: 16px 24px;
  }

  .menuOverlay {
    height: 100vh;
    position: fixed;
    top: 0;
  }
}
