  .vtex-store-newsletter-1-x-confirmationCheckboxContainer .vtex-checkbox__inner-container.bg-action-primary  {
    background-color: #FF5A00;
    border-color: #FF5A00!important;
  }

  .vtex-order-placed-2-x-orderPaymentItem .t-body .c-muted-1.mb3{
    display: none;
  }