/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.flexRow--blog-posts {
  background: #18181B;
  padding: 48px 0;
  padding-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .flexRow--blog-posts {
    padding: 24px 16px;
    padding-bottom: 54px;
  }
}

.flexCol--blog-posts-content {
  max-width: 1248px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .flexCol--blog-posts-content {
    margin-right: 0;
  }
}

.flexRow--explore-our-categories {
  padding: 48px 0;
}
@media screen and (max-width: 768px) {
  .flexRow--explore-our-categories {
    padding: 0;
    padding-top: 34px;
    padding-bottom: 32px;
  }
}

.flexRow--our-categories-cards {
  max-height: 656px;
  height: 100%;
  display: block;
}

.flexRowContent--our-categories-cards-section,
.flexColChild--our-categories-cards-section {
  gap: 16px;
}
.flexRowContent--our-categories-cards-section :global(.vtex-button),
.flexColChild--our-categories-cards-section :global(.vtex-button) {
  border: none;
  background-color: transparent;
  width: fit-content;
}

.flexCol--our-categories-cards-section {
  gap: 8px;
}

.flexRowContent--our-categories-cards-content {
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .flexRowContent--our-categories-cards-content {
    display: flex;
    gap: 8px;
  }
}
.flexRowContent--our-categories-cards-content .stretchChildrenWidth {
  width: 50% !important;
  max-width: 332px;
}
@media screen and (max-width: 1440px) {
  .flexRowContent--our-categories-cards-content .stretchChildrenWidth {
    width: 48% !important;
    max-width: 100%;
  }
}
@media screen and (max-width: 361px) {
  .flexRowContent--our-categories-cards-content .stretchChildrenWidth {
    max-width: 160px;
    width: 100% !important;
  }
}

.flexCol--explore-our-categories-content {
  padding: 0 32px;
  max-width: 1376px;
  box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .flexCol--explore-our-categories-content {
    padding: 0 16px;
    gap: 0;
  }
}

.flexRow--newsletter {
  background: #000;
  padding: 32px 0;
}

.flexRowContent--newsletter {
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .flexRowContent--newsletter .stretchChildrenWidth:first-child {
    width: 100% !important;
  }
  .flexRowContent--newsletter .stretchChildrenWidth:last-child {
    width: auto !important;
  }
}

.flexRowContent--newsletter-images {
  gap: 48px;
}

.flexCol--newsletter-success {
  align-items: center;
  justify-content: center;
  min-height: 334px;
  max-width: 676px;
  width: 100%;
  margin-right: 44px;
}
@media screen and (max-width: 768px) {
  .flexCol--newsletter-success {
    margin-right: 0;
    padding: 0 38px;
    min-height: 352px;
  }
}

.flexRowContent--form-wrapper {
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
}

.flexColChild--newsletter-success {
  height: fit-content !important;
}

.flexCol--newsletter-content {
  justify-content: center;
  max-width: 676px;
  margin-right: 48px;
  padding: 0 32px;
  padding-right: 0;
}
@media screen and (max-width: 1025px) {
  .flexCol--newsletter-content {
    padding: 0 16px;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .flexCol--newsletter-content {
    padding: 0;
  }
}

.flexRowContent--shelf-title-container {
  display: flex;
  justify-content: space-between;
}

.flexRow--product-card-stars {
  margin-bottom: 12px;
}

.flexColChild--price-container:first-child {
  min-height: 24px;
}

.flexCol--shelf-container {
  padding: 48px 32px;
  padding-right: 16px;
  padding-bottom: 72px;
}
@media screen and (max-width: 768px) {
  .flexCol--shelf-container {
    padding: 16px;
    padding-bottom: 54px;
    padding-right: 8px;
  }
}

.flexRow--product-card-actions :global(.vtex-store-components-3-x-container),
.flexRow--product-card-price :global(.vtex-store-components-3-x-container),
.flexRow--product-card-stars :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--shelf-container {
  background: #F4F4F5;
}

.flexRow--shelf-title-container {
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .flexRow--shelf-title-container {
    margin-bottom: 24px;
    margin-right: 8px;
  }
}

.flexRowContent--product-card-actions {
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .flexRowContent--product-card-actions {
    display: flex;
    gap: 8px;
  }
}

.flexRowContent--simple-double-banner {
  padding: 48px 32px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .flexRowContent--simple-double-banner {
    padding: 32px 16px;
  }
}

.flexCol--mobile-double-banner-content {
  gap: 16px;
}

.flexRow--centered-wrapper.flexRow--black-friday-countdown-offer {
  padding-bottom: 0;
  padding-top: 32px;
}
.flexRow--centered-wrapper.flexRow--black-friday-countdown-offer .flexRowContent--centered-wrapper {
  padding: 0;
}
.flexRow--centered-wrapper .flexRowContent--centered-wrapper {
  max-width: 1440px;
  padding: 48px 32px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .flexRow--centered-wrapper .flexRowContent--centered-wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .flexRow--centered-wrapper {
    padding: 16px;
  }
}

.flexRowContent--black-friday-SEO {
  justify-content: space-between;
}
.flexRowContent--black-friday-SEO .stretchChildrenWidth:first-child {
  justify-content: flex-start;
}

.flexRowContent--black-friday-banner-with-shelf {
  flex-wrap: wrap;
  gap: 24px;
}

.flexRowContent--shelf-with-banner {
  gap: 16px;
}

.flexRow--shelf-container-black-friday .flexCol--shelf-container {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .flexRow--shelf-container-black-friday {
    padding-right: 7px;
    padding-bottom: 20px;
  }
}

.flexRow--black-friday-main-banner {
  padding-top: 0;
  padding-bottom: 0;
}

.flexRowContent--black-friday-main-banner {
  justify-content: space-between;
  padding: 27px 0;
}

.flexRowContent--black-friday-discount-banners {
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .flexRowContent--black-friday-discount-banners {
    display: flex;
    gap: 16px;
  }
}

.flexRowContent--category-cards-section {
  flex-wrap: wrap;
  gap: 16px;
}

.flexRowContent--black-friday-middle-banner-text {
  gap: 87px;
}

.flexRowContent--black-friday-countdown-offer {
  display: flex;
  justify-content: center;
}

.flexRow--black-friday-FAQ {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 998px) {
  .flexRow--black-friday-FAQ {
    min-height: 980px;
    position: relative;
    background-image: url(/arquivos/faq-background.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: overlay;
    background-size: 100% 680px;
  }
}

.flexRow--black-friday-FAQ-questions {
  border-radius: 2px;
  background: var(--Brand-Primary-Black, #000);
  padding: 32px;
}
@media screen and (min-width: 998px) {
  .flexRow--black-friday-FAQ-questions {
    position: absolute;
    right: 0;
    max-width: 668px;
    opacity: 0.8;
    top: 50%;
    transform: translateY(-50%);
  }
}

.flexRowContent--breadcrumb--black-friday {
  display: flex;
}

.flexRowContent--black-friday-FAQ {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .flexRowContent--black-friday-FAQ {
    flex-direction: column;
  }
  .flexRowContent--black-friday-FAQ :global(.vtex-rich-text-0-x-container--black-friday-aside-title) {
    display: none;
  }
  .flexRowContent--black-friday-FAQ .flexRow--black-friday-FAQ-questions {
    padding: 0;
  }
}

.flexRowContent--black-friday-FAQ-questions {
  flex-wrap: wrap;
}

.flexRowContent--home-content-container {
  max-width: 1440px;
  margin: 0 auto;
}

.flexRow--main-banner :global(.vtex-store-components-3-x-container) {
  max-width: 100%;
}

.flexRow--shelf-container :global(.vtex-store-components-3-x-container),
.flexRow--main-banner :global(.vtex-store-components-3-x-container) {
  padding: 0 !important;
}

.flexRow--pre-owned-section {
  background: var(--bg-neutral-subtle-base, #F4F4F5);
  padding: 48px 32px 56px 32px;
}
@media screen and (max-width: 768px) {
  .flexRow--pre-owned-section {
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 15px;
  }
  .flexRow--pre-owned-section .flexRowContent--shelf-with-banner {
    flex-direction: column-reverse;
  }
}

.flexRowContent--pre-owned-section {
  max-width: 1376px;
  margin: 0 auto;
}

.flexRow--pre-owned-banner {
  background: #000;
  max-width: 680px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .flexRow--pre-owned-banner {
    margin-right: 8px;
  }
}

.flexRowContent--pre-owned-banner {
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flexRowContent--pre-owned-banner {
    display: flex;
    margin-bottom: 26px;
  }
}

.flexRow--black-friday-countdown-offer,
.flexRow--home-black-friday-infocard-offers,
.flexRow--black-friday-banner-with-shelf,
.flexRow--shelf-container-black-friday,
.flexRow--simple-shelf-container-black-friday,
.flexRowContent--shelf-container-black-friday :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-slider),
.flexRow--simple-shelf-container-black-friday :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-slider),
.flexRow--black-friday {
  background-color: #000;
}
.flexRow--black-friday-countdown-offer :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--home-black-friday-infocard-offers :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--black-friday-banner-with-shelf :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--shelf-container-black-friday :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--simple-shelf-container-black-friday :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRowContent--shelf-container-black-friday :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-slider) :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--simple-shelf-container-black-friday :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-slider) :global(.vtex-rich-text-0-x-paragraph--section-title),
.flexRow--black-friday :global(.vtex-rich-text-0-x-paragraph--section-title) {
  color: #fff;
}

.flexRow--home-black-friday-infocard-offers :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
@media screen and (max-width: 768px) {
  .flexRow--home-black-friday-infocard-offers :global(.vtex-store-components-3-x-container) {
    padding: 0 16px;
  }
}
.flexRow--home-black-friday-infocard-offers .stretchChildrenWidth {
  height: 100%;
}

.flexRowContent--home-black-friday-banner-redirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.flexRow--black-friday-banner-with-shelf {
  margin-top: 0 !important;
}

.flexRowContent--confirmationButtons {
  margin: 0 auto;
}
.flexRowContent--confirmationButtons :global(.vtex-button) {
  border-radius: var(--radius-rounded-sm, 2px);
  background: var(--bg-brand-secondary-bold-base, #2B2B3A);
  padding: 16px 24px;
  box-sizing: border-box;
  border: none;
  max-width: 192px;
}
@media screen and (max-width: 639px) {
  .flexRowContent--confirmationButtons :global(.vtex-button) {
    margin: 0 auto;
    display: block;
  }
}
.flexRowContent--confirmationButtons :global(.vtex-button) :global(.vtex-button__label) {
  color: var(--text-inverse-bold, #FFF);
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-transform: capitalize;
  padding: 0 !important;
}
.flexRowContent--confirmationButtons :global(.vtex-button) :global(.vtex-button__label)::before {
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6V4.2C18 3.0799 18 2.51984 17.782 2.09202C17.5903 1.71569 17.2843 1.40973 16.908 1.21799C16.4802 1 15.9201 1 14.8 1H9.2C8.0799 1 7.51984 1 7.09202 1.21799C6.71569 1.40973 6.40973 1.71569 6.21799 2.09202C6 2.51984 6 3.0799 6 4.2V6M6 17C5.07003 17 4.60504 17 4.22354 16.8978C3.18827 16.6204 2.37962 15.8117 2.10222 14.7765C2 14.395 2 13.93 2 13V10.8C2 9.11984 2 8.27976 2.32698 7.63803C2.6146 7.07354 3.07354 6.6146 3.63803 6.32698C4.27976 6 5.11984 6 6.8 6H17.2C18.8802 6 19.7202 6 20.362 6.32698C20.9265 6.6146 21.3854 7.07354 21.673 7.63803C22 8.27976 22 9.11984 22 10.8V13C22 13.93 22 14.395 21.8978 14.7765C21.6204 15.8117 20.8117 16.6204 19.7765 16.8978C19.395 17 18.93 17 18 17M15 9.5H18M9.2 21H14.8C15.9201 21 16.4802 21 16.908 20.782C17.2843 20.5903 17.5903 20.2843 17.782 19.908C18 19.4802 18 18.9201 18 17.8V16.2C18 15.0799 18 14.5198 17.782 14.092C17.5903 13.7157 17.2843 13.4097 16.908 13.218C16.4802 13 15.9201 13 14.8 13H9.2C8.0799 13 7.51984 13 7.09202 13.218C6.71569 13.4097 6.40973 13.7157 6.21799 14.092C6 14.5198 6 15.0799 6 16.2V17.8C6 18.9201 6 19.4802 6.21799 19.908C6.40973 20.2843 6.71569 20.5903 7.09202 20.782C7.51984 21 8.07989 21 9.2 21Z" stroke="white" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: relative;
  top: 5px;
}

.flexRowContent--orderHeader {
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 886px) {
  .flexRowContent--orderHeader {
    flex-direction: column;
  }
}

.flexRow--notices-wrapper {
  max-width: 824px;
  margin: 0 auto;
  border-top: 1px solid #E4E4E7;
  padding-top: 48px;
  padding-bottom: 64px;
}

.flexRowContent--orderHeaderOptions {
  width: fit-content;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 886px) {
  .flexRowContent--orderHeaderOptions {
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 886px) {
  .flexRow--orderHeaderOptions {
    width: 100%;
  }
  .flexRow--orderHeaderOptions :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--pre-owned-main-banner {
  background: #000;
  padding: 28px 0;
}
.flexRow--pre-owned-main-banner .flexRowContent--pre-owned-main-banner {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 51px;
}
@media screen and (max-width: 768px) {
  .flexRow--pre-owned-main-banner {
    padding: 0;
  }
  .flexRow--pre-owned-main-banner .flexRowContent--pre-owned-main-banner {
    padding-left: 16px;
    display: flex;
    align-items: center;
  }
}

.flexRow--pre-owned-benefits {
  background: #F4F4F5;
  padding: 32px;
}
.flexRow--pre-owned-benefits .flexRowContent--pre-owned-benefits {
  max-width: 1376px;
  gap: 16px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}
@media screen and (max-width: 768px) {
  .flexRow--pre-owned-benefits {
    padding: 16px;
    padding-bottom: 38px;
  }
}

.container--pre-owned-faq-title,
.container--pre-owned-faq-subtitle {
  align-items: center;
}

.flexRow--pre-owned-faq {
  padding: 32px;
  width: 100%;
  margin-top: 32px;
  background: #FFF6F2;
}
@media screen and (max-width: 768px) {
  .flexRow--pre-owned-faq {
    padding: 16px 32px;
  }
}

.flexColChild--pre-owned-faq-content {
  width: 100%;
}

.flexCol--pre-owned-faq-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.flexColChild--pre-owned-questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flexRow--pre-owned-seo {
  padding: 32px;
  background: var(--Brand-Primary-Black, #000);
}
.flexRow--pre-owned-seo .flexRowContent--pre-owned-seo {
  max-width: 1440px;
  margin: 0 auto;
}

.flexRowContent--pre-owned-seo {
  justify-content: space-between;
  align-tracks: center;
}

.flexRow--search-header {
  padding: 24px 0;
}
.flexRow--search-header :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .flexRow--search-header {
    padding: 0;
  }
}

.flexRowContent--search-gallery {
  gap: 16px;
}

.flexRowContent--search-info {
  align-items: center;
  gap: 24px;
}

.flexRowContent--filters-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

.flexRowContent--search-actions {
  justify-content: flex-end;
  gap: 24px;
}

.flexRowContent--product-summary-image {
  height: 100%;
}

.flexColChild--product-summary-list-layout-info {
  padding: 0;
}
.flexColChild--product-summary-list-layout-info .flexColChild--price-container {
  padding: 0;
}
.flexColChild--product-summary-list-layout-info .flexColChild--price-container:first-child {
  min-height: 0;
}
@media screen and (max-width: 768px) {
  .flexColChild--product-summary-list-layout-info:last-child {
    height: 36px !important;
  }
  .flexColChild--product-summary-list-layout-info .flexRow--product-card-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
}

.flexRowContent--product-summary-list-layout {
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .flexRowContent--product-summary-list-layout {
    display: flex;
  }
}

.flexCol--product-summary-list-layout-info {
  align-items: flex-start;
  position: relative;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .flexCol--product-summary-list-layout-info {
    position: unset;
  }
}

.flexRow--footer {
  background: #000;
  padding: 32px 0;
}
.flexRow--footer :global(.vtex-store-components-3-x-container) {
  max-width: 100%;
  padding: 0;
}
.flexRow--footer .flexRow--wrapper-main,
.flexRow--footer .flexRow--payment-methods-and-security-wrapper,
.flexRow--footer .flexRowContent--signature-wrapper {
  max-width: 1440px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 639px) {
  .flexRow--footer .flexRow--wrapper-main,
  .flexRow--footer .flexRow--payment-methods-and-security-wrapper,
  .flexRow--footer .flexRowContent--signature-wrapper {
    padding: 0 24px;
  }
}
.flexRow--footer .socialNetworkWrapper::before {
  content: "Nos siga nas redes sociais";
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin-bottom: 24px;
  display: block;
}
.flexRow--footer .socialNetworkWrapper .socialNetworksContainer {
  gap: 24px;
}
.flexRow--footer .socialNetworkWrapper .socialNetworksContainer .socialNetworkLink {
  height: 32px;
  min-width: 32px;
  margin: 0;
}
.flexRow--footer .socialNetworkWrapper .socialNetworksContainer .socialNetworkLink--facebook {
  background: url("assets/svgs/facebook-footer-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.flexRow--footer .socialNetworkWrapper .socialNetworksContainer .socialNetworkLink--youtube {
  background: url("assets/svgs/youtube-footer-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.flexRow--footer .socialNetworkWrapper .socialNetworksContainer .socialNetworkLink--instagram {
  background: url("assets/svgs/instagram-footer-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.flexRow--footer .socialNetworkWrapper .socialNetworkImage {
  display: none;
}

.flexRow--signature-wrapper {
  border-top: 1px solid #3F3C3C;
  padding-top: 24px;
  margin-top: 24px;
}

.flexRowContent--technology-partners-wrapper {
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 639px) {
  .flexRowContent--technology-partners-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
  }
}

.flexRowContent--signature-wrapper {
  justify-content: space-between;
}

.flexRowContent--footer-main-links {
  position: relative;
}
@media screen and (max-width: 639px) {
  .flexRowContent--footer-main-links {
    padding-bottom: 58px;
  }
}
.flexRowContent--footer-main-links .stretchChildrenWidth {
  width: 33% !important;
}
@media screen and (max-width: 639px) {
  .flexRowContent--footer-main-links .stretchChildrenWidth {
    width: 100% !important;
  }
}
.flexRowContent--footer-main-links .stretchChildrenWidth:last-child {
  width: fit-content !important;
  position: absolute;
  left: 0;
  bottom: 0;
}

.flexRow--payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--payment-methods-and-security-wrapper {
  margin-top: 32px;
  margin-bottom: 24px;
}

.flexRowContent--payment-methods {
  align-items: center;
}
@media screen and (max-width: 808px) {
  .flexRowContent--payment-methods {
    flex-wrap: wrap;
    display: flex;
  }
}
@media screen and (max-width: 639px) {
  .flexRowContent--payment-methods {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
  }
  .flexRowContent--payment-methods .flexRowContent--icons {
    display: flex;
    flex-wrap: wrap;
  }
}

.flexRowContent--seals-and-security {
  align-items: center;
}
@media screen and (max-width: 639px) {
  .flexRowContent--seals-and-security {
    display: flex;
    margin-top: 16px;
  }
}

.flexRowContent--payment-methods,
.flexRowContent--seals-and-security,
.flexRowContent--icons {
  gap: 16px;
}

.flexRowContent--payment-methods-and-security-wrapper {
  justify-content: space-between;
}
@media screen and (min-width: 639px) {
  .flexRowContent--payment-methods-and-security-wrapper {
    margin-top: 32px;
  }
}

.flexRow--topbar-interactions {
  max-width: 1440px;
  position: relative;
  width: 100%;
  height: 32px;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .flexRow--topbar-interactions {
    display: none;
  }
}

.flexRowContent--product-price-search-result {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flexRowContent--product-price-search-result {
    display: flex;
  }
}

.flexCol--product-informations-search-result {
  align-items: flex-start;
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .flexCol--product-informations-search-result {
    margin-right: 63px;
  }
}

.flexRowContent--search-bar-product {
  align-items: center;
  position: relative;
}
.flexRowContent--search-bar-product :global(.vtex-button__label) {
  padding: 10px 16px !important;
  height: 16px;
  width: 28px;
}
.flexRowContent--search-bar-product :global(.vtex-button) {
  border-radius: var(--radius-rounded-sm, 2px);
  background: var(--bg-brand-secondary-bold-base, #2B2B3A);
  width: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexRowContent--search-bar-product :global(.vtex-button):hover {
  background-color: #424250;
}
.flexRowContent--search-bar-product :global(.vtex-rich-text-0-x-container--product-card-unavailable) {
  width: fit-content;
  left: unset;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .flexRowContent--search-bar-product {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .flexRow--topbar-wrapper {
    width: 100%;
  }
}

.flexRow--brand-switcher-container {
  position: absolute;
  left: 32px;
  bottom: 0;
  z-index: 999;
}
.flexRow--brand-switcher-container .flexRowContent--brand-switcher-container {
  display: flex;
  gap: 4px;
}

.flexRowContent--main-header {
  gap: 48px;
}

.flexRow--main-header {
  width: 100%;
}

.flexRow--header-row-container {
  width: 100%;
  padding-top: 20px;
}
.flexRow--header-row-container :global(.vtex-store-components-3-x-container) {
  width: 100%;
  margin: 0;
  max-width: unset;
  padding: 0;
}

.flexRowContent--minicart-footer {
  padding-bottom: 0;
}

.flexCol--minicart-footer {
  border-top: 1px solid var(--border-neutral-subtlest, #E4E4E7);
  background: var(--bg-neutral-subtlest-base, #FFF);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  padding: var(--spacing-5, 20px) var(--spacing-6, 24px) var(--spacing-6, 24px) var(--spacing-6, 24px);
}

.flexRow--product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-neutral-subtlest, #E4E4E7);
  min-height: 148px;
  position: relative;
}
.flexRow--product:last-child:not(:first-child) {
  border-bottom: none;
}

.flexRowContent--product {
  padding: 0;
}

.flexRowContent--minicart-product-bottom {
  gap: 10px;
  align-items: center;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .flexRowContent--minicart-product-bottom {
    margin: 0;
    display: flex;
  }
}

.flexRowContent--minicart-product-name {
  margin: 0;
}

.flexRow--header-icons {
  display: flex;
  align-items: center;
}
.flexRow--header-icons .flexRowContent--header-icons {
  height: 22px;
}
@media (min-width: 1300px) {
  .flexRow--header-icons .flexRowContent--header-icons {
    margin-left: 30px;
  }
}
.flexRow--header-icons .flexRowContent--header-icons .stretchChildrenWidth {
  max-height: 22px;
}
.flexRow--header-icons .flexRowContent--header-icons :global(.vtex-render-runtime-8-x-lazyload),
.flexRow--header-icons .flexRowContent--header-icons :global(.vtex-render-runtime-8-x-lazyload):first-child,
.flexRow--header-icons .flexRowContent--header-icons :global(.vtex-render-runtime-8-x-lazyload):last-child {
  height: 22px;
}

.flexRow--right-side-menu {
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.flexRowContent--right-side-menu {
  max-width: 97vw;
}

.flexRowContent--right-side-menu .stretchChildrenWidth:first-child {
  flex: 1;
  padding-right: 10px;
}

.flexRowContent--header-icons {
  height: 100%;
}

.flexColChild--default-empty-state:last-child {
  width: 100%;
}

.flexRow--menu-mobile {
  flex: 1;
}

.flexRow--right-side-menu--boss :global(.vtex-input-prefix__group),
.flexRow--right-side-menu--vmoda :global(.vtex-input-prefix__group) {
  border: 1px solid #fff !important;
}
.flexRow--right-side-menu--boss :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input), .flexRow--right-side-menu--boss :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder,
.flexRow--right-side-menu--vmoda :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input),
.flexRow--right-side-menu--vmoda :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #fff !important;
}
.flexRow--right-side-menu--boss :global(.vtex-minicart-2-x-minicartQuantityBadge),
.flexRow--right-side-menu--vmoda :global(.vtex-minicart-2-x-minicartQuantityBadge) {
  background: #000 !important;
  color: #000 !important;
}

@media only screen and (max-width: 1199px) {
  .flexRowContent--header-icons {
    margin-right: 10px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 430px) {
  .flexRowContent--header-icons .stretchChildrenWidth {
    margin-right: 0px;
  }
  .flexRowContent--header-icons .stretchChildrenWidth:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 290px) {
  .flexRowContent--header-icons .stretchChildrenWidth {
    margin-right: 0px;
  }
  .flexRowContent--header-icons .stretchChildrenWidth:last-child {
    margin-right: 0;
  }
}

.flexRow--minicart-footer :global(.vtex-store-components-3-x-container) {
  padding: 0 !important;
}

.flexCol--default-empty-state {
  margin: 0 auto;
  max-width: 290px;
}

.flexColChild--default-empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--navigation-row {
  box-shadow: 0 0 1em #222;
  width: 100%;
  max-width: 100%;
  padding: 0 21px;
  margin: 0 auto;
  min-height: 65px;
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .flexRow--navigation-row {
    padding: 10px 0 5px;
  }
}
.flexRow--navigation-row :global(.vtex-store-components-3-x-container) {
  margin: 0 auto;
}
@media (max-width: 720px) {
  .flexRow--navigation-row :global(.vtex-store-components-3-x-container) {
    padding: 0;
    margin: 0;
  }
}
.flexRow--navigation-row :global(.vtex-store-components-3-x-container) .flexRowContent--navigation-row {
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 720px) {
  .flexRow--navigation-row :global(.vtex-store-components-3-x-container) .flexRowContent--navigation-row {
    justify-content: center;
  }
}

.flexRow--navigation-row--fixed {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 99999;
  background: #fff;
  top: 0;
  box-shadow: 0 0 1em #222;
}

.flexRow--breadcrumb--pre-owned {
  display: flex;
  max-width: 1440px;
  padding: 16px 32px;
  margin: 0 auto;
}
.flexRow--breadcrumb--pre-owned :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
}

.flexRow--pre-owned-tab {
  border-radius: var(--radius-rounded-sm, 2px) var(--radius-rounded-sm, 2px) var(--radius-rounded-none, 0px) var(--radius-rounded-none, 0px);
  background: var(--icon-feedback-information-base, #FFF);
  padding: 0 16px;
}
.flexRow--pre-owned-tab .flexRowContent--pre-owned-tab {
  display: flex;
  align-items: center;
  gap: 8px;
}