/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.minicartContainer .minicartIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.minicartContainer .minicartIconContainer .minicartQuantityBadge {
  border-radius: var(--radius-rounded-3xl, 24px);
  background: var(--bg-brand-primary-bold-base, #FF5A00);
  display: inline-flex;
  padding: var(--spacing-1, 4px) var(--spacing-2, 8px) var(--spacing-1, 4px) var(--spacing-3, 12px);
  align-items: center;
  gap: 5px;
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  position: unset;
  width: fit-content;
}
.minicartContainer .minicartIconContainer .minicartQuantityBadge::after {
  content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6.5L8 9.5L11 6.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  display: block;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1025px) {
  .minicartWrapperContainer {
    position: absolute;
    right: 16px;
  }
}