/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.headerRowBackground--topbar-container {
  position: relative;
  height: 32px;
}

.headerRowContainer--main-container {
  display: flex;
  width: 1440px;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: center;
  background: #FFF;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .headerStickyRow--topbar-container {
    height: 32px;
  }
  .headerStickyRow--search-container {
    padding: 0 16px 12px 16px;
  }
  .headerRowContainer--main-container {
    padding: 12px 16px;
    justify-content: flex-start;
    gap: 16px;
  }
}