/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.link--section-title {
  text-decoration: none;
  margin-right: 17px;
}
@media screen and (max-width: 768px) {
  .link--section-title {
    margin-right: 8px;
  }
}

.label--section-title {
  color: #000;
  text-align: right;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.link--myOrders,
.link--continueShopping {
  border-radius: var(--radius-rounded-sm, 2px);
  padding: 16px 32px;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 886px) {
  .link--myOrders,
  .link--continueShopping {
    width: 100%;
  }
  .link--myOrders .label,
  .link--continueShopping .label {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.link--myOrders .label,
.link--continueShopping .label {
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.link--myOrders {
  background: var(--bg-brand-primary-subtle-base, #FDF2EC);
}
.link--myOrders .label {
  color: var(--text-brand-primary-base, #FF5A00);
}
.link--myOrders:hover {
  background: var(--bg-brand-primary-subtle-hover, #FBE5D8);
}

.link--continueShopping {
  background: var(--bg-brand-secondary-bold-base, #2B2B3A);
}
.link--continueShopping .label {
  color: var(--text-inverse-bold, #FFF);
}
.link--continueShopping:hover {
  background: var(--bg-brand-secondary-bold-hover, #424250);
}

.link--talk-to-us-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  height: 20px;
  max-width: 157px;
  border-radius: 2px;
  background: #FFF;
  box-sizing: content-box;
  color: #18181B;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-decoration: none;
}
.link--talk-to-us-link:first-child {
  margin-bottom: 8px;
}
.link--talk-to-us-link .label--footer-help-center,
.link--talk-to-us-link .label--backstage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.link--talk-to-us-link .label--footer-help-center::before,
.link--talk-to-us-link .label--backstage::before {
  width: 16px;
  height: 16px;
  display: block;
}
.link--talk-to-us-link .label--footer-help-center::before {
  content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.33333 13.3334H12.6667C13.4033 13.3334 14 12.7367 14 12.0001V4.00008C14 3.26341 13.4033 2.66675 12.6667 2.66675H3.33333C2.59667 2.66675 2 3.26341 2 4.00008V12.0001C2 12.7367 2.59667 13.3334 3.33333 13.3334H6.66667L8 14.6667L9.33333 13.3334Z" stroke="%23323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.588 9.12256C9.1367 10.5739 6.78336 10.5739 5.33203 9.12256" stroke="%23323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.66536 5.78931V6.45597" stroke="%23323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.33333 5.78931V6.45597" stroke="%23323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.link--talk-to-us-link .label--backstage::before {
  content: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.7815 11.4H4.74648L4.71911 11.4219L3.1005 12.7142V4.00194C3.11064 3.74527 3.20028 3.53594 3.36827 3.36765C3.53618 3.19944 3.74542 3.10982 4.00237 3.1H12.9986C13.2552 3.11014 13.4645 3.19978 13.6329 3.36778C13.8011 3.53568 13.8907 3.74491 13.9005 4.00185V10.4981C13.8903 10.7547 13.8007 10.964 13.6327 11.1324C13.4649 11.3006 13.2556 11.3902 12.9987 11.4H4.7815ZM2.8725 14.424L2.87253 14.424L2.87485 14.4222L5.15999 12.6H13V12.6L13.0019 12.6C13.5887 12.5888 14.0852 12.3839 14.4847 11.9847C14.8842 11.5855 15.0892 11.0891 15.1 10.5018H15.1V10.5V4H15.1L15.1 3.9981C15.0888 3.41125 14.8839 2.91485 14.4847 2.51532C14.0855 2.11574 13.5891 1.9108 13.0018 1.90002V1.9H13H4V1.89998L3.9981 1.90002C3.41125 1.91115 2.91485 2.11607 2.51532 2.51526C2.11574 2.91449 1.9108 3.41094 1.90002 3.99816L1.9 3.99816V4V13.953H1.89988L1.90012 13.958C1.906 14.0766 1.93676 14.1835 1.99611 14.275C2.05555 14.3667 2.14015 14.4373 2.24525 14.4884C2.35055 14.5396 2.45842 14.5622 2.56698 14.5508C2.67536 14.5396 2.77742 14.4953 2.8725 14.424Z" fill="black" fill-opacity="0.96" stroke="black" stroke-width="0.2"/></svg>');
}

.link--help-center {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  z-index: 999;
  top: 4px;
}
.link--help-center .label--help-center {
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.0088rem;
}
.link--help-center::before {
  content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.56438 7.18025C2.59838 3.20874 5.82815 0 9.80769 0C13.7872 0 17.017 3.20874 17.051 7.18025C18.4735 7.21412 19.6154 8.37708 19.6154 9.80769V12.8846C19.6154 14.3365 18.4392 15.5128 16.9872 15.5128H16.5385V15.9615C16.5385 17.4135 15.3622 18.5898 13.9102 18.5898H12.2164C11.9735 19.3338 11.2737 19.8718 10.4487 19.8718H9.16669C8.14038 19.8718 7.30769 19.0392 7.30769 18.0128C7.30769 16.9865 8.14038 16.1538 9.16669 16.1538H10.4487C11.2737 16.1538 11.9735 16.6918 12.2164 17.4359H13.9102C14.725 17.4359 15.3846 16.7762 15.3846 15.9615V15.4058C14.7847 15.1741 14.359 14.5917 14.359 13.9102V8.78208C14.359 7.91885 15.0422 7.21459 15.8972 7.18076C15.8634 3.84628 13.1502 1.15385 9.80769 1.15385C6.46523 1.15385 3.75196 3.84628 3.71827 7.18076C4.57321 7.21459 5.25641 7.91885 5.25641 8.78208V13.9102C5.25641 14.795 4.53862 15.5128 3.65385 15.5128H2.62821C1.17625 15.5128 0 14.3365 0 12.8846V9.80769C0 8.37708 1.14193 7.21412 2.56438 7.18025ZM2.62821 8.33331C1.8135 8.33331 1.15385 8.993 1.15385 9.80769V12.8846C1.15385 13.6993 1.8135 14.359 2.62821 14.359H3.65385C3.90138 14.359 4.10256 14.1578 4.10256 13.9102V8.78208C4.10256 8.53454 3.90138 8.33331 3.65385 8.33331H2.62821ZM15.9615 8.33331C15.714 8.33331 15.5128 8.53454 15.5128 8.78208V13.9102C15.5128 14.1578 15.714 14.359 15.9615 14.359H16.9872C17.8019 14.359 18.4615 13.6993 18.4615 12.8846V9.80769C18.4615 8.993 17.8019 8.33331 16.9872 8.33331H15.9615ZM9.16669 17.3077C8.77762 17.3077 8.46154 17.6238 8.46154 18.0128C8.46154 18.4019 8.77762 18.7179 9.16669 18.7179H10.4487C10.8378 18.7179 11.1538 18.4019 11.1538 18.0128C11.1538 17.6238 10.8378 17.3077 10.4487 17.3077H9.16669Z" fill="white"/></svg>');
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem 0.1491rem 0.133rem 0.1249rem;
  justify-content: center;
  align-items: center;
}

.link--link-roland .label, .link--link-boss .label {
  width: 48px;
  height: 24px;
  display: block;
}
.link--link-roland .label--link-roland {
  font-size: 0;
  background-image: url("assets/svgs/roland-button.svg");
}
.link--link-boss .label--link-boss {
  font-size: 0;
  background-image: url("assets/svgs/boss-button.svg");
}

.link--wishlist {
  text-decoration: none;
}
.link--wishlist .label--wishlist {
  color: var(--Gray-Scale-Black, #000);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.link--wishlist .label--wishlist::before {
  content: "";
  background-image: url("assets/svgs/wishlist-icon.svg");
  width: 20px;
  height: 20px;
  display: block;
}