/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.infoCardContainer--our-categories-main-image {
  max-width: 680px;
  background-color: black;
  padding: 48px;
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-direction: column-reverse;
  border-radius: 2px;
  height: 100%;
}
@media screen and (max-width: 1025px) {
  .infoCardContainer--our-categories-main-image {
    max-width: 100%;
    align-items: center;
    padding: 16px 24px 32px 24px;
    min-height: 324px;
  }
}
.infoCardContainer--our-categories-main-image .infoCardImageContainer--our-categories-main-image {
  max-width: 584px;
  max-height: 431px;
  width: auto;
  height: auto;
}
.infoCardContainer--our-categories-main-image .infoCardTextContainer--our-categories-main-image,
.infoCardContainer--our-categories-main-image .infoCardCallActionContainer--our-categories-main-image {
  margin: 0;
  width: 100%;
}
.infoCardContainer--our-categories-main-image :global(.vtex-button__label) {
  padding: 0 !important;
  margin: 0;
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.4px;
  text-align: left;
  width: 61%;
  text-transform: math-auto;
}
@media screen and (max-width: 1168px) {
  .infoCardContainer--our-categories-main-image :global(.vtex-button__label) {
    width: 77%;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.infoCardContainer--our-categories-card {
  position: relative;
  border-radius: 2px;
  background: #F0F0F0;
  width: 332px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0;
  transition: all 0.1s ease-in-out;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card {
    height: 160px;
  }
}
.infoCardContainer--our-categories-card:hover {
  background: #E5E5E5;
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card {
  padding: 0;
  position: absolute;
  bottom: 40px;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card {
    bottom: 0;
  }
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card {
  margin: 0 !important;
  width: 100%;
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card :global(.vtex-button__label) {
  color: #000;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  width: 100%;
  padding: 0 !important;
  text-transform: math-auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card :global(.vtex-button__label) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
  }
}
.infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card {
  position: absolute;
  max-width: 176px;
  max-height: 176px;
  width: 100%;
  height: 100%;
  top: 40px;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card {
    max-width: 90px;
    max-height: 90px;
    top: 19px;
  }
}
.infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card .infoCardImage--our-categories-card {
  width: 100%;
  height: 100%;
}

.imageElement--newsletter-image {
  height: fit-content;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .imageElement--newsletter-image {
    width: 100%;
    margin-top: 32px;
  }
}

.discountContainer .discountInsideContainer {
  display: none;
}

.imageElement--simple-banner-image-1 {
  margin-right: 24px;
}

.imageElement--mobile {
  width: 100%;
}

.infoCardContainer--info-card-black-friday-benefits {
  border-radius: var(--radius-rounded-sm, 2px);
  background: #121212 !important;
  padding: 16px 32px;
  position: relative;
  width: 100%;
  height: 100%;
}
.infoCardContainer--info-card-black-friday-benefits .infoCardTextContainer {
  width: 100%;
  padding: 0;
}
.infoCardContainer--info-card-black-friday-benefits .headingLevel3--info-card-black-friday-benefits {
  color: #FF5A00;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
  position: relative;
  left: 42px;
  top: 4px;
  margin: 0;
}
.infoCardContainer--info-card-black-friday-benefits .infoCardImageContainer {
  position: absolute;
  left: 32px;
  top: 16px;
  width: fit-content;
  height: fit-content;
}
.infoCardContainer--info-card-black-friday-benefits .paragraph--info-card-black-friday-benefits {
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}
@media screen and (max-width: 768px) {
  .infoCardContainer--info-card-black-friday-benefits {
    padding: 8px;
  }
  .infoCardContainer--info-card-black-friday-benefits .infoCardImageContainer {
    top: 8px;
    left: 8px;
  }
}

.infoCardContainer--info-card-black-friday-banner-discount {
  height: 298px;
  padding: 20px;
  align-items: flex-start;
  border: none;
}
.infoCardContainer--info-card-black-friday-banner-discount .infoCardTextContainer {
  margin: 0;
  width: fit-content;
}
.infoCardContainer--info-card-black-friday-banner-discount .infoCardCallActionContainer {
  margin: 0;
  border-radius: var(--radius-rounded-sm, 2px);
  background: var(--Gray-Scale-White, #FFF);
  padding: 10px 16px;
  text-decoration: none;
  width: fit-content;
}
.infoCardContainer--info-card-black-friday-banner-discount .infoCardCallActionContainer .infoCardCallActionText {
  margin: 0;
  color: var(--text-neutral-bold, #18181B);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-decoration: none;
}
.infoCardContainer--info-card-black-friday-banner-discount .headingLevel2--info-card-black-friday-banner-discount {
  color: #FFF;
  font-family: "Monument Extended";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  margin: 0;
}
.infoCardContainer--info-card-black-friday-banner-discount .headingLevel2--info-card-black-friday-banner-discount:last-child {
  color: #FF5A00;
}
@media screen and (max-width: 768px) {
  .infoCardContainer--info-card-black-friday-banner-discount .headingLevel2--info-card-black-friday-banner-discount {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
}

.imageElement--black-friday-middle-banner-image {
  width: 100% !important;
}

.imageElement--black-friday-seo-image {
  width: 100% !important;
  max-height: 394px;
  object-fit: cover;
}

.container {
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer {
  width: fit-content !important;
  right: 32px;
}
:global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer :global(.vtex-button) {
  padding: 12px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  border: 1.25px solid #E1E3E1;
  background: #FFF;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer :global(.vtex-button)::before {
  content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0013 15.8333L10.0013 4.16659M10.0013 4.16659L4.16797 9.99992M10.0013 4.16659L15.8346 9.99992" stroke="%23130C0E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 20px;
  height: 20px;
  display: block;
}
@media screen and (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer {
    position: unset;
    z-index: 1;
    margin: 16px auto;
  }
  :global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer :global(.vtex-button) {
    padding: 12px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer :global(.vtex-button)::before {
    content: "Voltra ao topo";
    color: #130C0E;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.14px;
    width: fit-content;
    text-transform: math-auto;
  }
  :global(.vtex-flex-layout-0-x-flexRow--back-to-top-button) .backToTopButtonContainer :global(.vtex-button)::after {
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0013 15.8333L10.0013 4.16659M10.0013 4.16659L4.16797 9.99992M10.0013 4.16659L15.8346 9.99992" stroke="%23130C0E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 20px;
    height: 20px;
    display: block;
  }
}

.imageElement--pre-owned-banner-image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .imageElement--pre-owned-banner-image {
    position: unset;
  }
}

.infoCardContainer--info-card-pre-owned-benefits {
  flex-direction: column-reverse;
  border-radius: var(--radius-rounded-sm, 2px);
  background: #FFF;
  padding: 16px 32px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}
.infoCardContainer--info-card-pre-owned-benefits .infoCardTextContainer {
  width: 100%;
  font-family: "Proxima Nova";
  font-style: normal;
  padding: 0;
}
.infoCardContainer--info-card-pre-owned-benefits .infoCardTextContainer .infoCardHeadline {
  color: var(--Neutral-darkest, #13171B);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin: 0;
  margin-bottom: 8px;
}
.infoCardContainer--info-card-pre-owned-benefits .infoCardTextContainer .infoCardBodyText {
  color: var(--text-brand-secondary-base, #2B2B3A);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .infoCardContainer--info-card-pre-owned-benefits {
    padding: 8px 16px;
    display: flex;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .imageElement--pre-owned-seo-image {
    display: none;
  }
}

.imageElement--payment-method {
  width: 48px;
  height: 34px;
}

:global(.vtex-store-header-2-x-headerStickyRow) .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.closeIcon--search-bar {
  display: none;
}

.searchBarInnerContainer {
  border-radius: var(--radius-rounded-sm, 2px);
  border: 1px solid var(--border-input-base, #D4D4D8);
  padding: 9px 16px;
}
.searchBarInnerContainer--search-bar--opened {
  border: 1.5px solid var(--border-focus-base, #EE8146);
}

.searchBarContainer {
  max-width: 698px;
  position: relative;
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 2px;
  background: #FFF;
  margin: unset;
}
@media screen and (max-width: 1024px) {
  .searchBarContainer {
    max-width: 100%;
  }
}
.searchBarContainer .searchBarIcon--search-bar {
  background-image: url("assets/svgs/search-icon.svg");
  width: 20px;
  height: 20px;
  padding: 0;
  padding-left: 8px;
}
.searchBarContainer .searchBarIcon--search-bar .searchIcon {
  display: none;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  width: 100%;
  padding: 0;
  border-right: 1px solid var(--border-input-base, #D4D4D8);
  margin-right: 8px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: var(--text-neutral-bold, #18181B);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 100%;
  border: none;
}

@media screen and (max-width: 1025px) {
  .imageElementLink--logo {
    max-width: 111px;
    display: block;
  }
}