/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.flexRow--topbar-interactions {
  max-width: 1440px;
  position: relative;
  width: 100%;
  height: 32px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .flexRow--topbar-interactions {
    display: none;
  }
}

.flexRow--topbar-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.flexRow--brand-switcher-container {
  position: absolute;
  left: 32px;
  bottom: 0;
  z-index: 1;
}
.flexRow--brand-switcher-container .flexRowContent--brand-switcher-container {
  display: flex;
  gap: 4px;
}

.flexRowContent--main-header {
  gap: 48px;
}

.flexRow--main-header {
  width: 100%;
}