/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800;900&display=swap");
/* Grid breakpoints */
.infoCardContainer--our-categories-main-image {
  max-width: 680px;
  background-color: black;
  padding: 48px;
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-direction: column-reverse;
  border-radius: 2px;
}
@media screen and (max-width: 1025px) {
  .infoCardContainer--our-categories-main-image {
    max-width: 100%;
    align-items: center;
    padding: 16px 24px 32px 24px;
  }
}
.infoCardContainer--our-categories-main-image .infoCardImageContainer--our-categories-main-image {
  max-width: 584px;
  max-height: 431px;
  width: auto;
  height: auto;
}
.infoCardContainer--our-categories-main-image .infoCardTextContainer--our-categories-main-image,
.infoCardContainer--our-categories-main-image .infoCardCallActionContainer--our-categories-main-image {
  margin: 0;
  width: 100%;
}
.infoCardContainer--our-categories-main-image :global(.vtex-button__label) {
  padding: 0 !important;
  margin: 0;
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.4px;
  text-align: left;
  width: 61%;
  text-transform: math-auto;
}
@media screen and (max-width: 1168px) {
  .infoCardContainer--our-categories-main-image :global(.vtex-button__label) {
    width: 77%;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.infoCardContainer--our-categories-card {
  position: relative;
  border-radius: 2px;
  background: #F0F0F0;
  width: 332px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0;
  transition: all 0.1s ease-in-out;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card {
    height: 160px;
  }
}
.infoCardContainer--our-categories-card:hover {
  background: #E5E5E5;
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card {
  padding: 0;
  position: absolute;
  bottom: 40px;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card {
    bottom: 0;
  }
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card {
  margin: 0 !important;
  width: 100%;
}
.infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card :global(.vtex-button__label) {
  color: #000;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  width: 100%;
  padding: 0 !important;
  text-transform: math-auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .infoCardContainer--our-categories-card .infoCardTextContainer--our-categories-card .infoCardCallActionContainer--our-categories-card :global(.vtex-button__label) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
  }
}
.infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card {
  position: absolute;
  max-width: 176px;
  max-height: 176px;
  width: 100%;
  height: 100%;
  top: 40px;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 500px) {
  .infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card {
    max-width: 90px;
    max-height: 90px;
    top: 19px;
  }
}
.infoCardContainer--our-categories-card .infoCardImageContainer--our-categories-card .infoCardImage--our-categories-card {
  width: 100%;
  height: 100%;
}

.imageElement--simple-banner-image {
  padding: 48px 32px;
}
.imageElement--simple-banner-image.imageElement--mobile {
  padding: 16px;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.closeIcon--search-bar {
  display: none;
}

.searchBarInnerContainer {
  border-radius: var(--radius-rounded-sm, 2px);
  border: 1px solid var(--border-input-base, #D4D4D8);
  padding: 9px 16px;
}
.searchBarInnerContainer--search-bar--opened {
  border: 1.5px solid var(--border-focus-base, #EE8146);
}

.searchBarContainer {
  max-width: 698px;
  position: relative;
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 2px;
  background: #FFF;
  margin: unset;
}
.searchBarContainer .searchBarIcon--search-bar {
  background-image: url("assets/svgs/search-icon.svg");
  width: 20px;
  height: 20px;
  padding: 0;
  padding-left: 8px;
}
.searchBarContainer .searchBarIcon--search-bar .searchIcon {
  display: none;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  width: 100%;
  padding: 0;
  border-right: 1px solid var(--border-input-base, #D4D4D8);
  margin-right: 8px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: var(--text-neutral-bold, #18181B);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 100%;
  border: none;
}

@media screen and (max-width: 1025px) {
  .imageElementLink--logo {
    max-width: 111px;
  }
}