.paragraph--blog-posts-title {
  color:  #FFF;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin: 0 {
    bottom: 24px;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

}