.flexRowContent--simple-double-banner {
  padding: 48px 32px;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 32px 16px;
  }
}

.flexCol--mobile-double-banner-content {
  gap: 16px;
}