// _global.scss

@import url("https://p.typekit.net/p.css?s=1&k=jla5wuv&ht=tk&f=139.140.175.176&a=16702154&app=typekit&e=css");

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

body {
  font-family:$fontFamily;
  min-width: initial !important;
  padding: 0;
  min-height: 100vh;
  background: $base;
  box-sizing: border-box;
  position: relative;
  font-size: $fontSize;

  overflow-x:hidden;

  a {
    color:$actionPrimary;
    &:hover {
      color:$actionPrimaryDarken;
    }
  }

  @media(max-width: 768px) {
    padding-bottom:0px !important;
  }

  //short preloader to don't show a empty cart
  .cart-template.full-cart {
    > * {
      opacity: 0;
      transition-delay:1.2s;
      transition-property: opacity;
      -webkit-transition-duration:0.5s;
    }
  }
  &.v-custom-loaded {
    .cart-template.full-cart {
      > * {opacity: initial;}
    }
  }
  //end short preloader to don't show a empty cart

  &.returningUser.v-custom-addressForm-on.v-custom-step-shipping
  .accordion-inner.shipping-container  {

    .vtex-omnishipping-1-x-addressFormPart1.vtex-omnishipping-1-x-geolocation {
      display: block;
    }

    .vtex-omnishipping-1-x-deliveryGroup {
      display: block;
    }

    .vtex-omnishipping-1-x-submitPaymentButton {
      display: block;
    }
  }
}

.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$borderRadius;
}

.container-main {
}

.loading.loading-bg {
  background:$base;
}

// containers

.container {
  max-width:$maxWrapper;
  width: 100%;
  margin: 0 auto;

}




.checkout-container {
  overflow: initial !important;
  z-index: 2;

  .orderform-template,
  .cart-template {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition:position ease 0.8s, opacity ease 0.8s, margin ease 0.8s;
    &.inactive {
      max-height: 50vh;
      overflow:hidden;
      top:0;
      position: absolute;
    }
  }
  .full-cart {
    &.inactive {
      margin-left: -140%;;
    }
  }
  .orderform-template {
    &.inactive {
      left: 140%;
      margin: 0;
      display:none !important;
    }
  }
}


//titles

//cart title

#cart-title {
  font-size: 0;
  color:#18181B;
  text-align: left;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;

  margin: 32px 0 24px;

  &::before {
    content: "Carrinho";
    font-size: 24px;
  }
}

  h1#orderform-title {display:none !important;}


// assemblies custom vtex

  .v-custom-assemblies {
    margin: 10px 0 3px 0;
    overflow: hidden;
    border-top: 1px solid $muted4;
    padding-top: 7px;
    @media(max-width: $mobileWidth) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        strong {
          &:after {content:":";}
        }
        span, strong {line-height: 14px;}
      }
    }

  }
