// _global.scss

@import url("https://p.typekit.net/p.css?s=1&k=jla5wuv&ht=tk&f=139.140.175.176&a=16702154&app=typekit&e=css");

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

body {
  font-family:$fontFamily;
  min-width: initial !important;
  padding: 0;
  min-height: 100vh;
  background: $base;
  box-sizing: border-box;
  position: relative;
  font-size: $fontSize;

  overflow-x:hidden;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #FF5A00;
    border-radius: 4px;
  }

  input.success:not([invalid="true"]) {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.3896 3.19479C14.251 3.19892 14.1195 3.25683 14.0229 3.35625L5.86666 11.5125L2.51041 8.15625C2.46127 8.10506 2.40241 8.0642 2.33727 8.03604C2.27214 8.00789 2.20204 7.99302 2.13108 7.9923C2.06013 7.99158 1.98974 8.00502 1.92405 8.03184C1.85835 8.05866 1.79867 8.09832 1.7485 8.1485C1.69832 8.19867 1.65866 8.25835 1.63184 8.32405C1.60502 8.38974 1.59158 8.46013 1.5923 8.53108C1.59302 8.60204 1.60789 8.67214 1.63604 8.73727C1.6642 8.80241 1.70506 8.86127 1.75625 8.91041L5.48958 12.6437C5.5896 12.7437 5.72524 12.7999 5.86666 12.7999C6.00809 12.7999 6.14372 12.7437 6.24375 12.6437L14.7771 4.11041C14.8541 4.0355 14.9068 3.93905 14.9281 3.83371C14.9494 3.72836 14.9384 3.61904 14.8965 3.52006C14.8546 3.42108 14.7838 3.33707 14.6934 3.27902C14.6029 3.22098 14.497 3.19162 14.3896 3.19479Z" fill="black"/></svg>');
    background-position: right 16px center;
  }

  .transactions-container {
    display: none;
  }

  a {
    color:$actionPrimary;
    &:hover {
      color:$actionPrimaryDarken;
    }
  }

  @media(max-width: 768px) {
    padding-bottom:0px !important;
  }

  //short preloader to don't show a empty cart
  .cart-template.full-cart {
    > * {
      opacity: 0;
      transition-delay:1.2s;
      transition-property: opacity;
      -webkit-transition-duration:0.5s;
    }
  }
  &.v-custom-loaded {
    .cart-template.full-cart {
      > * {opacity: initial;}
    }
  }
  //end short preloader to don't show a empty cart

  &.returningUser.v-custom-addressForm-on.v-custom-step-shipping
  .accordion-inner.shipping-container  {

    .vtex-omnishipping-1-x-addressFormPart1.vtex-omnishipping-1-x-geolocation {
      display: block;
    }

    .vtex-omnishipping-1-x-deliveryGroup {
      display: block;
    }

    .vtex-omnishipping-1-x-submitPaymentButton {
      display: block;
    }
  }
}

.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$borderRadius;
}

.container-main {
  min-height: unset;
  height: calc(100vh - 260px);
}

.loading.loading-bg {
  background: transparent;

  .icon-spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    opacity: 1;

    &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FF5A00;
    animation: prixClipFix 2s linear infinite;
    }
  }
}

// containers

.container {
  max-width:$maxWrapper;
  width: 100%;
  margin: 0 auto;

}




.checkout-container {
  overflow: initial !important;
  z-index: 2;

  .orderform-template,
  .cart-template {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition:position ease 0.8s, opacity ease 0.8s, margin ease 0.8s;
    margin-bottom: 0;

    .extensions-checkout-buttons-container {
      display: none!important;
    }
    &.inactive {
      max-height: 50vh;
      overflow:hidden;
      top:0;
      position: absolute;
    }
  }
  .full-cart {
    &.inactive {
      margin-left: -140%;;
    }
  }
  .orderform-template {
    &.inactive {
      left: 140%;
      margin: 0;
      display:none !important;
    }
  }
}


//titles

//cart title

#cart-title {
  font-size: 0;
  color:#18181B;
  text-align: left;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;

  margin: 32px 0 24px;

  &::before {
    content: "Carrinho";
    font-size: 24px;
  }
}

  h1#orderform-title {display:none !important;}


// assemblies custom vtex

  .v-custom-assemblies {
    margin: 10px 0 3px 0;
    overflow: hidden;
    border-top: 1px solid $muted4;
    padding-top: 7px;
    @media(max-width: $mobileWidth) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        strong {
          &:after {content:":";}
        }
        span, strong {line-height: 14px;}
      }
    }

  }


  @keyframes rotate {
    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
  }
