// _global.scss


body {
  .headerContainer {
    display: none;
  }

  .header.new {
    display: block!important;

    border-top: 8px solid #FF5A00;
    background-color: #fff;

    .header-wrapper {
      max-width: 1248px;
      margin: 0 auto;
      padding: 12px 0 20px;

      display: flex;
      align-items: center;
      justify-content: space-between;


      .seal-safe-environment {
        display: flex;
        align-items: center;
        gap: 12px;

        .safe-environment-icon {
          height: 20px;
        }

        span {
          color:  #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.16px;
        }
      }
    }
  }
}

