
//note field

.orderform-template .summary-note {
  &.js-active {
    display:block !important;
  }
}

// coupon field

body.js-vcustom-showNoteField {
  .orderform-template {
    .payment-confirmation-wrap {
      display:block !important;		
      .payment-submit-wrap {display:none;}
    }
    .summary-note {display: block !important;}
  }
  &.v-custom-step-payment {
    .orderform-template {
      .payment-confirmation-wrap {
        .payment-submit-wrap {display:block !important;}
      }
    }
  }
}

.summary-coupon fieldset.coupon-fieldset {
  .vcustom-showCustomMsgCoupon {
    border: 1px dashed $warning;
    padding: 1px;
    font-size: 11px;
    background: $warningFaded;
    border-radius: $borderRadius;
    margin-top:4px !important;
    clear: both;
  }
}


// custom tax

.vcustom-customTax-tot {
  display: inline-block;
  position: relative;
  margin-left:5px;
  > span {
    background:$muted5;
    width:15px;
    height:15px;
    line-height:15px;
    display:inline-block;
    border-radius:100%;
    text-align:center;
    cursor: pointer;
  }

  &:hover {
    .vcustom-customTax-resume {
      display: block;
    }
  }
}

.vcustom-customTax-resume {
  position: absolute;
  left: calc(100% + 10px);
  width: 128px;
  background: $muted5;
  top: 50%;
  font-size: 11px;
  padding: 10px;
  transform: translateY(-50%);
  display: none;
  &__i {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  &:before {
    content:"";
    display:block;
    position:absolute;
    left:-4px;
    top:calc(50% - 4px);
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-right: 4px solid $muted5;
  }
}

// custom coupon flag

.v-custom-addLabels-active-flag {
  background:#FFF;
  color: $muted1;
  padding: 1px 4px;
  border-radius: $borderRadius;
  display: inline-block;
  align-items: center;
  font-size: 11px;
  border:1px solid $muted4;

  &:before {
    content:"";
    display:inline-block;
    width: 14px;
    height: 14px;
    background:url("//io.vtex.com.br/front-libs/bootstrap/2.3.2/img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: 0 -48px;
    margin-right: 4px;
    opacity: 0.9;
    vertical-align: middle;
  }
}

.table.cart-items tbody tr.product-item, .mini-cart .cart-items li {
  .v-custom-addLabels-active-flag {
  }
}

// assemblies custom vtex

  .v-custom-assemblies {
    margin: 10px 0 3px 0;
    overflow: hidden;
    border-top: 1px solid $muted4;
    padding-top: 7px;
    @media(max-width: $mobileWidth) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      padding: 0;
      margin: 0;
      
      &__item {
        strong {
          &:after {content:":";}
        }
        span, strong {line-height: 14px;}
      }
    } 
     
	}
	
//js 


body.v-custom-paymentBuilder-accordion .steps-view {display: none;}
body.v-custom-changeShippingTimeInfo .orderform-template .cart-template.mini-cart .item span.shipping-date {
	display: none;
}