.minicartInstallmentsWrapper p {
    color: var(--text-neutral-bold, #18181b);
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.12px;
    margin: 0;
}
