.summaryContainer--product-summary-quantity {
  border-radius:  2px;
  border: 1px solid  #D4D4D8;
  padding: 0 16px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #F4F4F5;

    :global(.vtex-numeric-stepper__minus-button__text),
    :global(.vtex-numeric-stepper__plus-button__text),
    :global(.vtex-numeric-stepper__input) {
    background-color: #F4F4F5!important;

    }

  }
  .quantitySelectorContainer {
    margin: 0;
  }

  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__input),
  :global(.vtex-numeric-stepper__minus-button) {
      border: none!important;
      background-color: #FFF!important;
      height: fit-content!important;
      width: fit-content!important;

  }

  :global(.vtex-numeric-stepper__input) {
    color: #18181B;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    @media screen and (max-width: 768px) {
      width: 26px!important;
    }
    
  }

  :global(.vtex-numeric-stepper__input):focus {
    border: none;
    outline: none;
  }

  :global(.vtex-numeric-stepper__minus-button__text) {
    font-size: 0;

    &::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M4.16797 10H15.8346" stroke="%2327272A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  :global(.vtex-numeric-stepper__plus-button__text) {
    font-size: 0;

    &::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0013 4.16663V15.8333M4.16797 9.99996H15.8346" stroke="%2327272A" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 12px;
  }

}