.container--product-summary-general {
  border-radius: 2px;
  background:  #FFF;
  padding: 16px;
  max-width: 332px!important;
  width: 100%;
  margin-left: 0;
    border: 1px solid transparent;
    transition: border 0.1s ease-in-out;


  &:hover {
    border: 1px solid  #3F3F46;
  }

  @media screen and (max-width: 768px) {
    padding: 12px;
    margin-right: 8px;
  }
 }

.imageWrapper--product-summary-image {
  height: 268px;
  margin-bottom: 12px;

  :global(.vtex-store-components-3-x-discountContainer) {
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    height: 136px;
  }
}

.imageContainer--product-summary-image {
  height: 100%;
}

.element--product-summary-general {
  align-items: flex-start;
  position: relative;
  padding: 0;
}

.productBrandContainer--product-summary-brand {
  color:  #FF5A00;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.nameContainer--product-summary-name {
  padding: 0;
}

.brandName--product-summary-name {
  overflow: hidden;
  height: 40px;
  color:  #18181B;
  text-overflow: ellipsis;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image--product-summary-image {
  object-fit: contain;
  width: 100%!important;
  height: 100%!important;
  max-width: 100%!important;
  max-height: 100% !important;


  @media screen and (max-width: 768px) {
    max-width: 136px!important;
    max-height: 136px!important;
  }
}