.sliderLeftArrow--shelf-slider,
.sliderRightArrow--shelf-slider {
  border-radius: 0;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat!important;
  transition: all 0.1s ease-in-out;
  width: 42px;
  height: 42px;

  @media screen and (max-width: 768px) {
    width: 32px;
  }
}


.sliderLeftArrow--shelf-slider {
  background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="20" fill="white"/><path d="M21.5 25L16.5 20L21.5 15" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat!important;
  left: 1px;

  @media screen and (min-width: 768px) {
    &:hover {
      background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="%23FDF2EC"/><path d="M21.5 25L16.5 20L21.5 15" stroke="%23EE8146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')no-repeat !important;
    }
  }

  @media screen and (max-width: 768px) {
    left: -15px;
    background: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="20" fill="white"/><path d="M21.5 25L16.5 20L21.5 15" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat !important;
    height: 32px;
    width: 32px;
  }

  @media screen and (max-width: 768px) {
    left: -18px;
  }
  
}

.sliderRightArrow--shelf-slider {
  background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="white"/><path d="M18.5 25L23.5 20L18.5 15" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')no-repeat !important;
  right: 15px;
  filter: unset;


  @media screen and (min-width: 768px) {
    &:hover {
      background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="%23FDF2EC"/><path d="M18.5 25L23.5 20L18.5 15" stroke="%23EE8146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')no-repeat !important;
    }
  }

  @media screen and (max-width: 768px) {
    right: -7px;
    background: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="white"/><path d="M18.5 25L23.5 20L18.5 15" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')no-repeat !important;
    width: 32px;
    height: 32px;
  }

  @media screen and (max-width: 768px) {
    right: -7px;
  }
}

.paginationDotsContainer--shelf-slider {
  bottom: -24px;
  margin-right: 16px;

  .paginationDot--shelf-slider {
    width: 6px!important;
    height: 6px!important;
    border-radius:  9999px!important;
    background:  #A1A1AA!important;

    &--isActive {
      background: #FF5A00!important;
    }
  }

  @media screen and (max-width: 768px) {
    bottom: -18px;
    margin-right: 0px;
  }
}