.flexRow--topbar-interactions {
  max-width: 1440px;
  position: relative;
  width: 100%;
  height: 32px;
  margin: 0 auto;
}

.flexRow--topbar-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.flexRow--brand-switcher-container {
  position: absolute;
  left: 32px;
  bottom: 0;
  z-index: 1;

  .flexRowContent--brand-switcher-container {
    display: flex;
    gap: 4px;
  }

}