.headerRowBackground--topbar-container {
  position: relative;
  height: 32px;
}

.headerRowContainer--main-container {
  display: flex;
  width: 1440px;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: center;
  background: #FFF;
  justify-content: space-between;
}


.headerStickyRow--topbar-container {
  @media screen and (max-width: 1024px) {
    height: 32px;
  }
}