.link--help-center {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  z-index: 1;
  top: 4px;

  .label--help-center {
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.0088rem;
  }

  &::before {
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.56438 7.18025C2.59838 3.20874 5.82815 0 9.80769 0C13.7872 0 17.017 3.20874 17.051 7.18025C18.4735 7.21412 19.6154 8.37708 19.6154 9.80769V12.8846C19.6154 14.3365 18.4392 15.5128 16.9872 15.5128H16.5385V15.9615C16.5385 17.4135 15.3622 18.5898 13.9102 18.5898H12.2164C11.9735 19.3338 11.2737 19.8718 10.4487 19.8718H9.16669C8.14038 19.8718 7.30769 19.0392 7.30769 18.0128C7.30769 16.9865 8.14038 16.1538 9.16669 16.1538H10.4487C11.2737 16.1538 11.9735 16.6918 12.2164 17.4359H13.9102C14.725 17.4359 15.3846 16.7762 15.3846 15.9615V15.4058C14.7847 15.1741 14.359 14.5917 14.359 13.9102V8.78208C14.359 7.91885 15.0422 7.21459 15.8972 7.18076C15.8634 3.84628 13.1502 1.15385 9.80769 1.15385C6.46523 1.15385 3.75196 3.84628 3.71827 7.18076C4.57321 7.21459 5.25641 7.91885 5.25641 8.78208V13.9102C5.25641 14.795 4.53862 15.5128 3.65385 15.5128H2.62821C1.17625 15.5128 0 14.3365 0 12.8846V9.80769C0 8.37708 1.14193 7.21412 2.56438 7.18025ZM2.62821 8.33331C1.8135 8.33331 1.15385 8.993 1.15385 9.80769V12.8846C1.15385 13.6993 1.8135 14.359 2.62821 14.359H3.65385C3.90138 14.359 4.10256 14.1578 4.10256 13.9102V8.78208C4.10256 8.53454 3.90138 8.33331 3.65385 8.33331H2.62821ZM15.9615 8.33331C15.714 8.33331 15.5128 8.53454 15.5128 8.78208V13.9102C15.5128 14.1578 15.714 14.359 15.9615 14.359H16.9872C17.8019 14.359 18.4615 13.6993 18.4615 12.8846V9.80769C18.4615 8.993 17.8019 8.33331 16.9872 8.33331H15.9615ZM9.16669 17.3077C8.77762 17.3077 8.46154 17.6238 8.46154 18.0128C8.46154 18.4019 8.77762 18.7179 9.16669 18.7179H10.4487C10.8378 18.7179 11.1538 18.4019 11.1538 18.0128C11.1538 17.6238 10.8378 17.3077 10.4487 17.3077H9.16669Z" fill="white"/></svg>');
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.125rem 0.1491rem 0.133rem 0.1249rem;
    justify-content: center;
    align-items: center;
  }
}

.link--link {

  &-roland,
  &-boss {
    .label {
      width: 48px;
      height: 24px;

      display: block;
    }
  }

  &-roland {

    .label--link-roland {
      font-size: 0;
      background-image: url('assets/svgs/roland-button.svg');

    }
  }

  &-boss {

    .label--link-boss {
      font-size: 0;
      background-image: url('assets/svgs/boss-button.svg');

    }
  }
}

.link--wishlist {
  text-decoration: none;

  .label--wishlist {
    color: var(--Gray-Scale-Black, #000);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    &::before {
      content: '';
      background-image: url("assets/svgs/wishlist-icon.svg");
      width: 20px;
      height: 20px;
      display: block;
    }
  }
}