.biggy-autocomplete-wrapper {
  max-width: 698px;

  .biggy-autocomplete {
    flex-direction: row !important;
    left: 17px;
    top: 17px;
    padding: 0;
    border-radius: var(--radius-rounded, 4px);
    border: 1px solid var(--border-neutral-subtlest, #E4E4E7);
    background: var(--elevation-overlay, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
      0px 8px 16px 0px rgba(0, 0, 0, 0.05);

    .itemList--suggestion {
      max-width: 232px;

      .itemListTitle::before {
        content: "Sugestões";
        font-weight: 600;
      }
    }

    .itemListTitle {
      margin: 0;
      padding-left: 20px;
      font-size: 0;
      text-transform: unset;
      padding-top: 20px;

      &::before {
        content: 'Termos sugeridos';
        color: var(--text-neutral-bold, #18181B);
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.14px;
      }
    }

    .itemListItem {
      .itemListSubItem {
        display: none;
      }
    }

    .itemListLink {
      padding: 10px 12px;
      margin: 0 12px;
      height: fit-content;
      display: flex;
      align-items: center;

      max-width: 307px;

      gap: 8px;

      transition: all 0.1s ease-in-out;



      .itemListPrefix {
        height: fit-content;
        color: var(--text-brand-secondary-base, #2B2B3A);
        font-family: "Proxima Nova";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.12px;

        border-radius: var(--radius-rounded-full, 9999px);
        background: var(--icon-accent-brand-subtlest, #FBE5D8);
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

      }

      .itemListLinkTitle {
        color: var(--text-neutral-subtle, #3F3F46);
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.14px;
      }
    }


    .tileList {
      .tileListTitle {
        margin:0 {
          top: 12px;
          left: 12px;
        }

        padding: 0 {
          bottom: 12px;
        }


        color: var(--text-neutral-bold, #18181B);
        font-family: "Proxima Nova";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.14px;
        text-transform: math-auto;
      }

      .tileListList {
        .tileListItem {
          .element {
            width: 100%;
            padding: 20px;

            .imageContainer {
              margin-right: 24px;

              .image {
                width: 48px;
                height: 48px;
              }
            }

            .information {
              margin: 0;

              .productBrand {
                overflow: hidden;
                color: var(--text-neutral-subtle, #3F3F46);
                text-overflow: ellipsis;
                font-family: "Proxima Nova";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.12px;
              }

              .priceContainer {
                .sellingPrice {
                  overflow: hidden;
                  color: var(--text-neutral-bold, #18181B);
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-family: "Proxima Nova";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: -0.14px;
                }
              }
            }

          }
        }
      }
    }
  }
}