.slideChildrenContainer {
  max-width: 400px;
  max-height: 436px;
  height: 100%;
  margin-right: 24px;
}

.postCardWrapper {
  border-radius: 2px;
  background: rgba(0, 0, 0, 1);
  padding: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid  #FF5A00;
  }
}

.postCardImageWrapper {
  width: 100%;
  height: 200px;
}

.postCardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.postCardInfos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.postCardCategoryName {
  color:  #FFF;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: -0.14px;
}

.postCardTitle {
  margin: 0;
  overflow: hidden;
  color:  #FFF;
  text-overflow: ellipsis;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0;
  height: 56px;
}

.postCardExcerpt p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.postCardReadMore {
  color:  #FFF;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}

.paginationDotsContainer {
  bottom: -24px
}

.paginationDot {
  width: 6px!important;
  height: 6px!important;
  padding: 0!important;
  border-radius:  9999px;
  background:  #A1A1AA;
}

.paginationDot--isActive {
  background: #FF5A00;
}

.sliderLeftArrow svg,
.sliderRightArrow svg {
  display: none;
}

.sliderLeftArrow {
  left: -64px;
}

.sliderRightArrow {
  right: -43px;
}
.sliderLeftArrow::before,
.sliderRightArrow::before {
  display: block;
  width: 40px;
  height: 40px;
}



.sliderLeftArrow::before {
    content: url('data:image/svg+xml,<svg width="40" height="41" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="40" height="40" rx="20" fill="white"/><path d="M21.5 25.5L16.5 20.5L21.5 15.5" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
   
}

.sliderRightArrow::before {
  content: url('data:image/svg+xml,<svg width="40" height="41" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20.5C0 9.45431 8.95431 0.5 20 0.5C31.0457 0.5 40 9.45431 40 20.5C40 31.5457 31.0457 40.5 20 40.5C8.95431 40.5 0 31.5457 0 20.5Z" fill="white"/><path d="M18.5 25.5L23.5 20.5L18.5 15.5" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  
}

@media screen and (min-width: 768px) {
  .sliderLeftArrow:hover::before,
  .sliderRightArrow:hover::before {
    position: relative;
    top: 1px;
  }
  
  .sliderRightArrow:hover::before {
    content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="%23FDF2EC"/><path d="M18.5 25L23.5 20L18.5 15" stroke="%23EE8146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .sliderLeftArrow:hover::before {
    content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z" fill="%23FDF2EC"/><path d="M21.5 25L16.5 20L21.5 15" stroke="%23EE8146" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
}

@media screen and (max-width: 768px) {
  .slideChildrenContainer {
    margin-right: 0;
  }

  .sliderLeftArrow::before,
  .sliderRightArrow::before {
    display: block;
    width:32px;
    height:32px;
  }

  .sliderLeftArrow,
  .sliderRightArrow { 
    margin: 0;
    padding: 0;
  }


  .sliderLeftArrow {
    left: -14px;
  }

  .sliderRightArrow {
    right: -15px;
  }

  .sliderLeftArrow::before {
    content: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="white"/><path d="M17.5 21L12.5 16L17.5 11" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .sliderRightArrow::before {
    content: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="white"/><path d="M14.5 21L19.5 16L14.5 11" stroke="%2352525B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .postCardWrapper {
    border-bottom: 2px solid  #FF5A00;
  }

  .postCardCategoryName {
    color: #FF5A00;
  }
}

@media screen and (max-width: 639px) {
  .slideChildrenContainer {
    max-width: 100%;
  }
}

